.container{
    width: 400px;
    height: 172px;
    padding: 16px;
    background-color: #3C7DAC;
    border-radius: 14px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-right: 20px;

}

.name {
    color: white;
    font-size: 20px;

    grid-column: 2;
    grid-row: 1;
}

.value{
    color: white;
    justify-self: flex-start;
    font-size: 36px;
    
    grid-column: 2;
    grid-row: 2;
}