<div *ngIf="weekCards$ && weekIncomes$ | async; else loading">

</div>

<div class="container">
    <div class="cards-container">
        <app-card icon="receive-money.png" text="Contas a receber" 
            [value]="weekCards.toReceive && weekCards.toReceive.value || 0" 
            [variation]="weekCards.toReceive && weekCards.toReceive.variation || 0"
            backgroundColor="#3C7DAC">
        </app-card>

        <app-card icon="pay.png" text="Contas a pagar" 
            [value]="weekCards.toPay && weekCards.toPay.value || 0" 
            [variation]="weekCards.toPay && weekCards.toPay.variation || 0"
            backgroundColor="#6F9600" >
        </app-card>

        <app-card icon="due-date.png" text="Contas a vencer" 
            [value]="weekCards.toExpire && weekCards.toExpire.value || 0" 
            [variation]="weekCards.toExpire && weekCards.toExpire.variation || 0"
            backgroundColor="#5A0606">
        </app-card>
    </div>


    <p class="title">Resumo da semana</p>
    <div class="charts-container" style="position: relative;height:50vh; width:80vw">
        <div class="canvas-wrap">
            <div *ngIf="weekIncomes.length > 0; else emptyIncomes"></div>
            <canvas #incomeChart class="chart"></canvas>
        </div>
        <div class="canvas-wrap">
            <div *ngIf="weekExpenses.length > 0; else emptyExpenses"></div>
            <canvas #expenseChart class="chart"></canvas>
        </div>
    </div>

    <p class="title">Transações recentes</p>
    <div class="transactions-container">
        <app-transaction-card *ngFor="let transaction of recentTransactions" 
            name={{transaction.name}}  
            date="{{transaction.date}}" 
            [value]="transaction.value" 
            [backgroundcolor]="transaction.categoryId.color"
        >
        </app-transaction-card>
    </div>

    <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>
    </ng-template>

    <ng-template #emptyIncomes>
        <p style="color: white; font-size: 12px;text-align: center;position: absolute;">
            Não há registros de receita
        </p>
    </ng-template>

    <ng-template #emptyExpenses>
        <p style="color: white; font-size: 12px; text-align: center;position: absolute;">
            Não há registros de gastos
        </p>
    </ng-template>
</div>
