.container{
    width: 200px;
    height: 200px;
    margin: 20px 20px 20px 0px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;

    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    transition: 0.2s ease;
}

.container:hover{
    cursor: pointer;
    transform: scaleX(102%) scaleY(102%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 20px;
    justify-self: center;
}

.name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.delete-icon{
    position: absolute;
    justify-self: flex-end;
    color: red;
    opacity: 0;
}

.wrapper{
    width: 100%;
    display: grid;
}

.wrapper:hover .delete-icon{
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.5s;
}