.container{
    padding: 40px 40px 0 40px;
    background-color: #111111;
    width: calc(100vw - 210px);
    height: 100vh;
    overflow: auto;
}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.chart-container{
    position: relative;
    display: flex;
    height:60vh; 
    width:80vw;
    margin-top: 40px;
    justify-content: center;
}