<div class="container">
    <div class="cards-container">
        <app-card backgroundColor="#5A0606" 
            text="Despesas do mês" 
            [value]="monthCards.expenses && monthCards.expenses.value || 0" 
            [variation]="monthCards.expenses && monthCards.expenses.variation || 0" >
        </app-card>

        <app-card backgroundColor="#6F9600" text="Receita do mês" 
            [value]="monthCards.incomes && monthCards.incomes.value || 0" 
            [variation]="monthCards.incomes && monthCards.incomes.variation || 0" >
        </app-card>

        <app-card backgroundColor="#000000" text="Contas vencidas" 
            [value]="monthCards.expired && monthCards.expired.value || 0" 
            [variation]="monthCards.expired && monthCards.expired.variation || 0" >
        </app-card>
    </div>

    <div class="chart-container">
        <canvas #chartCanvas ></canvas>
    </div>

    <div class="chart-container" style="margin-top: 80px; margin-bottom: 40px;">
        <canvas #income></canvas>
        <canvas #expense></canvas>
    </div>
</div>