
<!--  Displaying Modal   -->
<div *ngIf="isModalVisible === true then modal" >

</div>

<div class="container">
    <div class="header">
        <app-input-field placeholder="Pesquisar..." icon="search"></app-input-field>
        <mat-icon fontIcon="filter_list" class="icon"></mat-icon>
        <div class="filter">
            <p>Tipo</p>
            <select name="type" class="dropdown">
                <option value="" selected>Selecione...</option>
                <option value="EXPENSE">Despesa</option>
                <option value="INCOME">Entrada</option>
            </select>
        </div>
        <div class="filter">
            <p>Categoria</p>
            <select name="category" class="dropdown">
                <option value="" selected>Selecione...</option>
                <option value="EXPENSE">Despesa</option>
                <option value="INCOME">Entrada</option>
            </select>
        </div>
        <div class="filter">
            <p>Data</p>
            <select name="date" class="dropdown">
                <option value="" selected>Selecione...</option>
                <option value="asc">Asc</option>
                <option value="des">Desc</option>
            </select>
        </div>
    </div>

    <div class="table-container">
        <table class="table">
            <tr style="font-size: 20px;">
                <td></td>
                <td><b>Nome</b></td>
                <td><b>Tipo</b></td>
                <td><b>Categoria</b></td>
                <td><b>Data</b></td>
            </tr>
            <tr *ngFor="let transaction of transactions">
                <td><input type="checkbox"/></td>
                <td>{{transaction.name}}</td>
                <td>
                    {{transaction.type === "EXPENSE"? "Despesa":"Receita"}}
                </td>
                <td>
                    <div class="category-wrapper">
                        <div style="width: 20px; height: 20px; border-radius: 5px; margin-right: 20px;" [ngStyle]="{'background-color':transaction.categoryId.color}"></div>
                        {{transaction.categoryId.name}}
                    </div>
                </td>
                <td>{{transaction.date | date:'dd/MM'}}</td>
            </tr>
        </table>
    </div>

    <div class="footer">
        <div class="see-more">
            <span>Ver mais</span>
        </div>
        
        <div class="btn">
            <app-action-button text="Adicionar" width="200px" (OnClick)="toggleModal()"></app-action-button>
        </div>
    </div>

    <ng-template #modal>
        <app-modal  (clickedOutside)="toggleModal()"></app-modal>
    </ng-template>
</div>
