.container{
    padding: 40px 40px 0 40px;
    background-color: #111111;
    width: calc(100vw - 210px);
    height: 100vh;
    overflow: auto;
}

.header{
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
}

.icon{
    display: block;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    margin-left: 60px;
}

.filter{
    margin-left: 10px;
    margin-right: 15px;
}

.filter p{
    line-height: 20px;
}

.dropdown{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.table-container{
    min-height: 80%;
}

.table{
    min-width: 90%;
    color: white;
    border-collapse: collapse;
    margin-top: 20px;
}

.table tr,td{
    text-align: center;
    border: 2px solid white;
    padding: 10px;
}

.table input{
    width: 20px; 
    height: 20px;
}

.footer{
    display: grid;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 160px;
    grid-template-columns: 90% auto;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;

}

.see-more{
    display: flex;
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100px;
    align-items: center;
    justify-content: flex-end;
    justify-self: center;
    color: white;
    user-select: none;
    cursor: pointer;
}

.category-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}