
<!--  Displaying Modal   -->
<div *ngIf="isModalVisible === true then modal" >

</div>

<!--  Displaying Loading Spinner  -->
<div class="spinner-container" *ngIf="transactions$ | async; else loading">

</div>

<div class="container">
    <div class="header">
        <app-input-field placeholder="Pesquisar..." icon="search" (inputContent)="setNameFilter($event)" width="200px"></app-input-field>
        <mat-icon fontIcon="filter_list" class="icon"></mat-icon>
        <div class="filter">
            <p>Tipo</p>
            <select name="type" class="dropdown" (change)="setTypeFilter($event)">
                <option value="" selected>Selecione...</option>
                <option value="EXPENSE">Despesa</option>
                <option value="INCOME">Entrada</option>
            </select>
        </div>
        <div class="filter">
            <p>Categoria</p>
            <select name="category" class="dropdown" (change)="setCategoryFilter($event)">
                <option value="" selected>Selecione...</option>
                <option *ngFor="let cat of categories" value={{cat._id}}>{{cat.name}}</option>
            </select>
        </div>
        <div class="filter">
            <p>Data</p>
           <app-input-field (inputContent)="setDateFilter($event)" type="date" width="180px"></app-input-field>
        </div>
        <app-action-button text="Excluir" width="90px" [ngClass]="!selectedTransaction._id ? 'disabled' : ''" (OnClick)="deleteTransaction()"></app-action-button>
        <app-action-button text="Editar" width="90px" [ngClass]="!selectedTransaction._id ? 'disabled' : ''" (OnClick)="editTransaction()" style="margin-left: 15px;"></app-action-button>
    </div>

    <div class="table-container">
        <table class="table">
            <tr style="font-size: 20px;">
                <td></td>
                <td><b>Nome</b></td>
                <td><b>Tipo</b></td>
                <td><b>Categoria</b></td>
                <td><b>Valor</b></td>
                <td><b>Data</b></td>
                <td><b>Pago?</b></td>
            </tr>
            <tr *ngFor="let transaction of transactions">
                <td>
                    <input type="radio" 
                        name="transaction" 
                        id={{transaction._id}} 
                        (change)="setSelectedTransaction(transaction!)" 
                        [checked]="transaction._id ===selectedTransaction._id? true: false"/>
                </td>
                <td style="width: 20%;">{{transaction.name}}</td>
                <td>
                    {{transaction.type === "EXPENSE"? "Despesa":"Receita"}}
                </td>
                <td>
                    <div style="display: flex; transform: translateX(30%);">
                        <div class="color-wrapper">
                            <div style="width: 20px; height: 20px; border-radius: 5px; margin-right: 10px;justify-self: flex-end;" 
                                [ngStyle]="{'background-color':transaction.categoryId.color}">
                            </div>
                        </div>
                        <span >{{transaction.categoryId.name}}</span>
                    </div>
                </td>
                <td>{{'R$ ' +transaction.value}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.type === 'EXPENSE' ? (transaction.isPaid ? "Sim": "Não") : "-"}}</td>
            </tr>
        </table>
        <div class="see-more" (click)="loadTransaction()" [ngClass]="!nextURL ? 'disabled':''">
            <span>Ver mais</span>
        </div>
    </div>


    <div class="footer">        
        <div class="btn">
            <app-action-button text="Adicionar" width="200px" (OnClick)="createTransaction($event)"></app-action-button>
        </div>
    </div>

    <ng-template #modal>
        <app-modal  (clickedOutside)="toggleModal($event)" [inputTransaction]="selectedTransaction"></app-modal>
    </ng-template>

    <ng-template #loading>
        <div class="loading-container">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>
