<div class="container">
    <div class="header">
        <app-input-field placeholder="Pesquisar..." icon="search"></app-input-field>
        <mat-icon fontIcon="filter_list" class="icon"></mat-icon>
        <div class="filter">
            <p>Tipo</p>
            <select name="type" class="dropdown">
                <option value="" selected>Selecione...</option>
                <option value="EXPENSE">Despesa</option>
                <option value="INCOME">Entrada</option>
            </select>
        </div>
        <div class="filter">
            <p>Categoria</p>
            <select name="category" class="dropdown">
                <option value="" selected>Selecione...</option>
                <option value="EXPENSE">Despesa</option>
                <option value="INCOME">Entrada</option>
            </select>
        </div>
        <div class="filter">
            <p>Data</p>
            <select name="date" class="dropdown">
                <option value="" selected>Selecione...</option>
                <option value="asc">Asc</option>
                <option value="des">Desc</option>
            </select>
        </div>
    </div>

    <div class="table-container">
        <table class="table">
            <tr>
                <td></td>
                <td>Nome</td>
                <td>Tipo</td>
                <td>Categoria</td>
                <td>Data</td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td><input type="checkbox"/></td>
            </tr>
        </table>
    </div>

    <div class="footer">
        <div class="see-more">
            <span>Ver mais</span>
        </div>
        
        <div class="btn">
            <app-action-button text="Adicionar" width="200px"></app-action-button>
        </div>
        
    </div>

    
</div>
