<div *ngIf="isModalVisible then modal"></div>

<!--  Displaying Loading Spinner  -->
<div class="spinner-container" *ngIf="getCategories$ | async; else loading">

</div>

<div class="container">
    <app-input-field placeholder="Pesquisar..." icon="search"></app-input-field>

    <div class="categories-container">
        <app-category-item *ngFor="let category of categories"  
            [category]="category"
            (OnClick)="toggleModal($event)"
            (OnDelete)="deleteCategory($event)"
        >
        </app-category-item>
    </div>

    <div class="btn">
        <app-action-button text="Adicionar" width="200px" (OnClick)="createCategory($event)" data-testid="add-button"></app-action-button>

    </div>
</div>

<ng-template #loading>
    <div class="loading-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<ng-template #modal>
    <app-modal  (clickedOutside)="toggleModal($event)" parentComponent="categories" [inputCategory]="categorySelected"></app-modal>
</ng-template>