.container{
    padding: 40px 40px 0 40px;
    background-color: #111111;
    width: calc(100vw - 210px);
    height: 100vh;
    overflow: auto;
}

.categories-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.btn{
    display: flex;
    position: absolute;
    left: 50%;
    top: 85%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.loading-container{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 210px);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.589);
    z-index: 10;
}
