<div class="container">
    <span>Mabills</span>
    <div class="divisor"></div>
    <div class="items-container">
        <app-side-bar-item text="Home" icon="home" routLink="/home"></app-side-bar-item>
        <app-side-bar-item text="Despesas" icon="attach_money" routLink="/expenses"></app-side-bar-item>
        <app-side-bar-item text="Investido" icon="ssid_chart" routLink="/invested"></app-side-bar-item>
        <app-side-bar-item text="Dashboard" icon="monitor_health" routLink="/dashboard"></app-side-bar-item>
    </div>
</div>