.container{
    min-width: 250px;
    width: fit-content;
    height: 80px;
    padding-left: 20px;
    background-color: rgba(89, 0, 255, 0.66);
    border-radius: 2px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-items: center;
    color: white;

    margin-right: 10px;
    margin-bottom: 10px;
}

.name{
    font-size: 20px;
}

.value{
    grid-column: 1;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

.date{
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-end;
    margin-right: 20px;
}