.container{
    width: 155px;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.container:hover{
    cursor: pointer;
}

.container-active{
    background-color: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.active{
    color: black;
    opacity: 1;
}

a{
    margin-left: 10px;
    color: white;
    opacity: 0.66;
}

mat-icon{
    color: white;
    opacity: 0.66;
}
